*{margin:0; padding:0;outline:none !important; font-family: 'RobotoL', Tahoma;}ul{list-style-type:none;}.clear{clear:both;}.fll{float:left;}.flr{float:right;}.fln{float:none;}.w100{width:100%;}.poa{position:absolute;}.pof{position:fixed;}.por{position:relative;}.db{display:block !important;}.dn{display:none;}
.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}.mt35{margin-top:35px;}.mt40{margin-top:40px;}.mt45{margin-top:45px;}.mt50{margin-top:50px;}.mt100{margin-top:100px;}
.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}.ml35{margin-left:35px;}.ml40{margin-left:40px;}.ml45{margin-left:45px;}.ml50{margin-left:50px;}.ml100{margin-left:100px;}
.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}.mr35{margin-right:35px;}.mr40{margin-right:40px;}.mr45{margin-right:45px;}.mr50{margin-right:50px;}.mr100{margin-right:100px;}
.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}.mb40{margin-bottom:40px;}.mb45{margin-bottom:45px;}.mb50{margin-bottom:50px;}.mb100{margin-bottom:100px;}
.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}.pt35{padding-top:35px;}.pt40{padding-top:40px;}.pt45{padding-top:45px;}.pt50{padding-top:50px;}.pt100{padding-top:100px;}
.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}.pl35{padding-left:35px;}.pl40{padding-left:40px;}.pl45{padding-left:45px;}.pl50{padding-left:50px;}.pl100{padding-left:100px;}
.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}.pr35{padding-right:35px;}.pr40{padding-right:40px;}.pr45{padding-right:45px;}.pr50{padding-right:50px;}.pr100{padding-right:100px;}
.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}.pb35{padding-bottom:35px;}.pb40{padding-bottom:40px;}.pb45{padding-bottom:45px;}.pb50{padding-bottom:50px;}.pb100{padding-bottom:100px;}
.space5{height:5px;}.space10{height:10px;}.space15{height:15px;}.space20{height:20px;}.space25{height:25px;}.space30{height:30px;}.space35{height:35px;}.space40{height:40px;}.space45{height:45px;}.space50{height:50px;}.space55{height:55px;}.space60{height:60px;}.space65{height:65px;}.space70{height:70px;}.space75{height:75px;}.space80{height:80px;}.space85{height:85px;}.space90{height:90px;}.space95{height:95px;}.space100{height:100px;}.space125{height:125px;}.space150{height:150px;}.space175{height:175px;}.space200{height:200px;}.tac{text-align:center;}.tal{text-align:left;}.tar{text-align:right;}.p0{padding:0 !important;}.m0{margin:0 !important;}

.content_target, .content_target p, .content_target li, .content_target div, .content_target span, .content_target dd, .content_target dt, .content_target td, .content_target a {font: 16px RobotoL, Tahoma; color: #575656;}
.content_target p, .content_target li, .content_target div {margin-bottom: 15px;}
.content_target {overflow: hidden;}
.content_target img {width: auto; height: auto; max-width: 100%;}



#menu_toogle_btn { 
	width: 25px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;}

  #menu_toogle_btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu_toogle_btn span:nth-child(1),#menu_toogle_btn span:nth-child(2){-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center}#menu_toogle_btn span:nth-child(1){top:0;transform-origin:left center}#menu_toogle_btn span:nth-child(2){top:11px;transform-origin:left center}#menu_toogle_btn span:nth-child(3){top:22px;-webkit-transform-origin:left center;-moz-transform-origin:left center;-o-transform-origin:left center;transform-origin:left center}
#menu_toogle_btn.open span:nth-child(1){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);top:2px;left:0px}#menu_toogle_btn.open span:nth-child(2){width:0%;opacity:0}#menu_toogle_btn.open span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);top:20px;left:0px}

/* BOTTOM ALIGNED FOOTER */
.dinline {display: inline-block;}
.dn {display: none !important;}
.op0 {opacity: 0;}

.usn {user-select: none; --webkit-user-select: none; -moz-user-select: none; -o-user-select: none; -ms-user-select: none;}

#preloader {position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 99999; background: #282828;}
#preloader img {left: 50%; top: 50%; margin-top: -52px; margin-left: -150px; width: 300px; height: auto; position: fixed; -webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite;}

.shine {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 5s infinite;}

.waves-effect.waves-nav .waves-ripple {background-color: rgba(150, 70, 149, 0.5);}


body {position: relative; background: #fff;}
.home_slider_sect {width: 50%; height: 100%; position: absolute; left: 0; top: 0; z-index: 200;}
.home_slider_holder {position: absolute; right: 0; top: 0; z-index: 100; width: 75%; height: 100%; }
.home_slider .item .image {background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; width: 100%; height: 95vh; background-repeat: no-repeat; background-position: right center;}

header {width: 100%; height: 115px; background: transparent; position: fixed; left: 0; top: 0; z-index: 300; transition-duration: 0.5s;}
header .logo img {max-width: 215px; margin-top: 25px;}
header.filled {background: #fff;}
header.filled li a {color: #575656;}


.top_nav li {display: inline-block; padding: 0; border-bottom: 6px solid transparent; transition-duration: 0.3s}
.top_nav li a {font: 16px 'RobotoM', 'Tahoma'; color: #fff; letter-spacing: 1px;  padding: 44px 16px;}
.top_nav li.active {border-color: #964695;}
.top_nav li:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite;
}
.top_nav li:not(.recall_btn):active {border-color: #964695;}

.logo:hover img {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 3s infinite;}
.main_wrapper  {overflow: hidden;}

@-webkit-keyframes shine {
  from {mask-position: 150%;-webkit-mask-position: 150%;-moz-mask-position: 150%; -o-mask-position: 150%; -ms-mask-position: 150%;}
  to {mask-position: -50%;-webkit-mask-position: -50%; -moz-mask-position: -50%; -o-mask-position: -50%; -ms-mask-position: -50%;}
}
@keyframes float {
	0% {transform: translatey(0px); -webkit-transform: translatey(0px); -moz-transform: translatey(0px); -o-transform: translatey(0px); -ms-transform: translatey(0px);}
	50% {transform: translatey(-20px); -webkit-transform: translatey(-20px); -moz-transform: translatey(-20px); -o-transform: translatey(-20px); -ms-transform: translatey(-20px);}
	100% {transform: translatey(0px); -webkit-transform: translatey(0px); -moz-transform: translatey(0px); -ms-transform: translatey(0px); -o-transform: translatey(0px);}
}
.rotate {-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}

@media only screen and (min-width: 993px){
	header .container {width: 90%; max-width: 1200px;}
}

header .recall_btn {margin-bottom: -16px; margin-left: 15px;}
header .recall_btn a {padding: 0; border-bottom: 0; height: 33px; display: block;}
header .recall_btn img {width: 21px; height: 33px; float: left;}

h3 {color: #575656;}

.start_lines {position: absolute; left: 0; top: 30%; right: 20%; bottom: 0; background: url('../img/bg_lines.png') left bottom no-repeat; z-index: 210; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}
.about_start_lines {position: absolute; left: 0; top: 12%; right: 20%; bottom: 0; background: url('../img/bg_lines2.png') left bottom no-repeat; z-index: 210; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}
.about_start_circles {position: absolute; left: 60%; top: 20%; right: 0; bottom: 0; background: url('../img/circles1.png') right bottom no-repeat; z-index: 210; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}

[data-a="fade-in"] {opacity: 0;}



.section_name {position: relative; z-index: 300;}
.section_name .caption {font: 46px 'RobotoB', 'Tahoma'; color: #575656; line-height: 46px; margin-bottom: 20px; position: relative; z-index: 300;}
.section_name .sub_caption {font: 18px 'RobotoR', 'Tahoma'; color: #575656; position: relative; z-index: 300;}

.section_name::before {content: ""; display: block; position: absolute; width: 336px; height: 360px; background: url('../img/Triangle2.png') center no-repeat; z-index: 280; left: -100px; top: -120px; animation: float 6s ease-in-out infinite; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}

.slider_trigger {position: absolute; z-index: 300; top: 0; left: -150px;}
.slider_trigger li {text-align: center;}
.slider_trigger .dot {font: 20px 'RobotoBL', 'Tahoma'; color: #575656; cursor: pointer; transition-duration: 0.3s; position: relative;}
.slider_trigger .separator {width: 31px; height: 41px; background: url('../img/dot_separator.png') bottom center no-repeat; display: block;}
.slider_trigger .dot:last-child::after {background: none;}
.slider_trigger .dot.active {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite; color: #964695; transform: scale(2); -webkit-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); -ms-transform: scale(2);}
.slider_trigger .dot:hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite; color: #964695; transform: scale(2); -webkit-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); -ms-transform: scale(2);}
.slider_trigger .dot:not(.active):hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite; color: #964695; transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5);}
.next_home_section {position: absolute; z-index: 300; left: 100px; bottom: -180px; width: 25px; height: 200px; border-right: 1px solid #575656; position: relative; cursor: pointer; display: block;}
.next_home_section::after {background: url('../img/go_down.png') center bottom no-repeat; cursor: pointer; content: ""; display: block; bottom: 0; left: 14px; z-index: 300; width: 20px; height: 20px; position: absolute; transition-duration: 1s;}
.next_home_section p {color: #575656; font: 14px 'RobotoL', 'Tahoma'; width: 107px; letter-spacing: 2px; margin-left: -50px; display: block; float: left; margin-top: 60px; transition-duration: 1s;}
.next_home_section:hover p {/*transform: scale(1.3) translate(-40px,0px); -webkit-transform: scale(1.3) translate(-40px,0px); -moz-transform: scale(1.3) translate(-40px,0px); -o-transform: scale(1.3) translate(-40px,0px); -ms-transform: scale(1.3) translate(-40px,0px);*/ }
.next_home_section:hover::after {transform: translate(0px, 10px); -webkit-transform: translate(0px, 10px); -moz-transform: translate(0px, 10px); -o-transform: translate(0px, 10px); -ms-transform: translate(0px, 10px);}

@media(max-width: 1200px){
	.top_nav li a {padding: 28px 5px;}
	header {height: 90px;}
	header .logo img {margin-top: 17px;}
}

@media(max-width: 993px){
	.top_nav li a {padding: 17px 4px;}
	.top_nav li a {font-size: 13px;}
	header {height: 65px;}
	header .logo img {margin-top: 13px; max-height: 45px;}
	header .recall_btn {margin-left: 0;}
	.section_name {left: 120px; top: 50px; width: calc(100% - 120px);}

  .parent_home_slider_sect .section_name {top: -10px;}
  .parent_home_slider_sect .section_name .caption {font-size: 35px; line-height: 36px; margin-left: -90px;}
	.next_home_section {display: none;}
  .parent_home_slider_sect .slider_trigger .separator {height: 20px;}
  .parent_home_slider_sect .section_name::before {width: 240px;}

}

@media(max-width: 600px){
  .parent_home_slider_sect .section_name .caption {font-size: 30px; line-height: 31px;}
  .parent_home_slider_sect .home_slider_sect {width: 60%;}
}

@media(max-width: 500px){
  .parent_home_slider_sect .home_slider_sect {width: 70%;}
}

@media(max-width: 400px){
  .parent_home_slider_sect .home_slider_sect {width: 80%;}
}

@media(max-width: 2000px) and (min-width: 993px) and (max-height: 745px){
	.next_home_section {bottom: -100px;}
}

@media(max-width: 2000px) and (min-width: 993px) and (max-height: 665px){
	.next_home_section {display: none;}
}

@media(max-width: 993px) and (min-width: 768px){
	header .container {width: 90%;}
}

.home_slider_sect2 {width: 100%; height: 100%; position: absolute; right: 0; top: 0; z-index: 200;}
.home_slider_holder2 {position: absolute; right: 0; top: 0; z-index: 100; width: 50%; height: 100%; }
.home_slider2 .item .image {background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; width: 100%; height: 100vh; background-repeat: no-repeat; background-position: right center;}

.home_about .section_name {position: absolute; top: 100px;}
.home_about .section_name .caption {margin-bottom: 0;}
.home_about .section_name .sub_caption {margin-bottom: 10px;}
.home_about .section_name::before {content: ""; display: block; position: absolute; width: 336px; height: 360px; background: url('../img/Triangle2.png') center no-repeat; z-index: 280; left: -100px; top: -80px; animation: float 6s ease-in-out infinite; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}
.home_about .next_home_section {position: absolute; z-index: 300; left: 0px; bottom: -160px; width: 25px; height: 200px; border-right: 1px solid #575656; position: relative; cursor: pointer; display: block;}
.home_about .next_home_section::after {background: url('../img/go_down.png') center bottom no-repeat; cursor: pointer; content: ""; display: block; bottom: 0; left: 14px; z-index: 300; width: 20px; height: 20px; position: absolute; transition-duration: 1s;}
.home_about .next_home_section p {width: 170px; margin-left: -77px;}

.about_inner {max-width: 700px; width: 100%; color: #575656; position: relative; z-index: 300; padding-top: 150px;}

.about_slider_trigger {margin-bottom: 20px;}
.about_slider_trigger li {display: block; background: url('../img/sp3.png') left bottom no-repeat; transition-duration: 0.3s; padding-left: 25px;}
.about_slider_trigger .dot {font: 20px 'RobotoB', 'Tahoma'; color: #575656; cursor: pointer; transition-duration: 0s; position: relative; margin-bottom: 8px;}

@media(min-width: 993px){
  .about_inner .content_target {height: 450px; overflow: hidden; overflow-y: auto;}
}

.about_slider_trigger .dot.active {background: url('../img/sp3.png') left top no-repeat; padding-left: 65px;}
/*.about_slider_trigger .dot.active {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite; color: #964695; transform: scale(2); -webkit-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); -ms-transform: scale(2);}*/
/*.about_slider_trigger .dot:not(.active):hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite; color: #964695; transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5);}
.about_slider_trigger .dot:hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 40%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite; color: #964695; transform: scale(2); -webkit-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); -ms-transform: scale(2);}*/

.home_slider_holder2 {height: 100%;}
.home_slider_holder2 .home_slider2 {height: 100%;}
.home_slider_holder2 .home_slider2 .owl-stage-outer {height: 100%;}
.home_slider_holder2 .home_slider2 .owl-stage-outer .owl-stage {height: 100%;}
.home_slider_holder2 .home_slider2 .owl-stage-outer .owl-stage .owl-item {height: 100%;}
.home_slider_holder2 .home_slider2 .owl-stage-outer .owl-stage .owl-item .item {height: 100%;}
.home_slider_holder2 .home_slider2 .owl-stage-outer .owl-stage .owl-item .item .image {height: 99%;}

@media(max-width: 1670px){
	.home_sect_2_inner {float: right;}
	.home_about .section_name {left: -75px;}
}

@media(max-width: 1475px){
	.home_sect_2_inner {margin-left: 25% !important;}
	.home_about .section_name {left: -75px;}
}

@media(max-width: 1300px){
	.home_slider_holder2, .home_slider_sect2 {height: 80%;}
}

.home_slider_holder {height: 100%;}
.home_slider_holder .home_slider {height: 100%;}
.home_slider_holder .home_slider .owl-stage-outer {height: 100%;}
.home_slider_holder .home_slider .owl-stage-outer .owl-stage {height: 100%;}
.home_slider_holder .home_slider .owl-stage-outer .owl-stage .owl-item {height: 100%;}
.home_slider_holder .home_slider .owl-stage-outer .owl-stage .owl-item .item {height: 100%;}
.home_slider_holder .home_slider .owl-stage-outer .owl-stage .owl-item .item .image {height: 100%;}

@media(max-width: 993px){
	.home_slider_holder2, .home_slider_sect2 {height: 60%; max-height: 60vh;}
	.home_slider_holder, .home_slider_sect {height: 100%; max-height: 100vh; overflow: hidden;}
	.home_about .section_name {left: 15%;}
	.about_inner {padding-top: 375px;}
	.home_about .next_home_section {display: none;}
	.home_sect_2_inner {margin-left: 0% !important;}
	.about_slider_trigger {text-align: center;}



}
.mob_recall_btn {display: none;}
.mobile_header {display: none;}
.mob_menu_btn {display: none;}

.sidenav {background: #fff;}
.sidenav li.first {display: block; height: 65px; width: 100%;}
.sidenav li {display: block; width: 100%;}
.sidenav li.active {background-color: rgba(150, 70, 149, 0.5);}
.sidenav li a {color: #575656; font: 16px 'RobotoR', Tahoma; padding-top: 13px;}
.sidenav-overlay {background-color: rgba(0,0,0,0.2);}

.recall_dark {display: none;}

.contacts .recall_white {display: none;}
.contacts .recall_dark {display: block;}

.invest-relations .recall_white {display: none;}
.invest-relations .recall_dark {display: block;}

.projects .recall_white {display: none;}
.projects .recall_dark {display: block;}

@media(max-width: 768px){
	.home_slider_holder, .home_slider_sect {height: 100%; max-height: 100vh;}
	.parent_home_slider_sect {padding-top: 65px;}
	.home_slider_holder, .home_slider_sect {margin-top: 65px;}
	.recall_white {display: none;}
	.recall_dark {display: block;}

	#menu_toogle_btn span {background: #575656;}
	.desktop_header {display: none;}
	.mobile_header {display: block;}
	.mobile_menu_controls {text-align: right;}
	.mobile_menu_controls li {display: inline-block;}
	.mob_recall_btn {position: fixed; right: 125px; top: 20px; width: 21px; height: 33px; cursor: pointer; z-index: 1100; display: block;}
	.mob_menu_btn {position: fixed; right: 75px; top: 22px; width: 25px; height: 25px; cursor: pointer; z-index: 1100; display: block;}
	header {z-index: 1100; background: #fff; -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)}
	.mobile_header .logo img {position: relative; z-index: 1100;}
}

@media(max-width: 625px){
	.parent_home_slider_sect .slider_trigger {left: -130px;}
}

@media(max-width: 600px){

	.parent_home_slider_sect .section_name .caption {margin-left: -86px;}
	.parent_home_slider_sect .section_name .sub_caption {margin-left: -70px;}
	img {max-width: 100%;}
	.section_name .caption {font-size: 35px; line-height: 35px;}
	.section_name .sub_caption {font-size: 16px;}
	.section_name::before{width: 300px; height: 300px; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; top: -40px;}
	.section_name {top: 0;}
	.home_slider2  {margin-top: 2px; height: 99%;}

	.home_slider_holder, .home_slider_sect {height: 100%; max-height: 100vh;}
	.home_slider_holder2, .home_slider_sect2 {height: 40%; max-height: 40vh;}
	
   .parent_home_slider_sect .section_name::before{width: 244px; height: 218px; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; top: -40px;}

	#preloader img {left: 50%; top: 50%; margin-top: -52px; margin-left: -125px; width: 250px; height: auto; position: fixed; -webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite;}
}

@media(max-width: 993px){
  .home_services {background-size: 50% !important;}
  .about_slider_trigger .dot {text-align: left;}
}
@media(max-width: 600px){
  .home_services {background-size: 40% !important;}
}

.home_services .section_name {position: absolute; top: 280px; left: 270px;}
.services_inner {max-width: 1100px; width: 100%; color: #575656; position: relative; z-index: 300; padding-top: 60px;}

.serv_ico {width: 54px; height: 54px; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; margin-bottom: 10px; background-repeat: no-repeat;}

.services_col_header {font: 22px 'RobotoB', Tahoma; color: #575656; margin-bottom: 10px; letter-spacing: 1px; line-height: 26px;}
.service_description {font: 16px 'RobotoL', Tahoma; color: #575656; letter-spacing: 1px; line-height: 19px; display: none !important;}

@media(min-width: 993px) and (min-height: 900px){
  .service_description {display: block !important;}
}

.services_inner .service_row {margin-bottom: 20px;}
.home_services .next_home_section p {width: 150px; margin-left: -68px;}

@media(max-width: 1795px){
	.services_inner {max-width: 1000px;}
	.home_services .section_name {left: 225px;}
}

@media(max-width: 1600px){
	.home_services .section_name {left: 150px;}
}

@media(max-width: 1460px){
	.home_services .section_name {left: 120px;}
	.home_services .section_name .caption {margin-left: -20px;}
}

@media(max-width: 1400px){
	.services_inner {max-width: 900px;}
	.services_inner .service_row {margin-bottom: 30px;}
	.home_services .section_name .caption {margin-left: -60px;}
	.home_services .next_home_section {bottom: -100px;}
}

@media(max-width: 1250px){
	.home_services .services_inner .hide-on-med-and-down {display: none;}
	.services_inner .service_row {margin-left: 110px;}
}

@media(max-width: 1150px){
	.services_inner .service_row {margin-left: 130px;}
}

@media(max-width: 993px){
	.home_services .section_name {position: relative; left: 0;
	 top: 0; margin-top: 135px; margin-left: 15%;}
	 .services_inner .service_row {margin-left: 0px;}
	 .services_inner {padding-left: 30px; padding-right: 30px;}
	 .home_services .section_name .caption {margin-left: 0;}
	 .home_services {background-position: 80% top;}
}

@media(max-width: 600px){
	.services_inner .service_row {margin-bottom: 0px;}
	.services_inner .service_row .col {margin-bottom: 30px; text-align: center;}
	.serv_ico {margin: 0 auto 10px;}
	.services_inner {padding-top: 120px;}
	.home_services {background-position: 0 top;}
	.home_services .section_name {margin-top: 80px; padding-top: 75px;}
}

.home_projects {background: #fff;}


.section_name_small {position: relative; z-index: 300;}
.section_name_small .caption {font: 36px 'RobotoB', 'Tahoma'; color: #575656; line-height: 46px; margin-bottom: 20px; position: relative; z-index: 300; margin-left: 20px;}

.section_name_small::before {content: ""; display: block; position: absolute; width: 336px; height: 360px; background: url('../img/Triangle2.png') center no-repeat; z-index: 280; left: -100px; top: -120px; animation: float 6s ease-in-out infinite; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}

.home_projects .details {font: 16px "RobotoL", Tahoma; color: #575656; letter-spacing: 1px; line-height: 22px;}

.projects_title {margin-top: 150px;}
.projects_wrapper {padding-top: 60px;}
.project_home_item .card-image {width: 100%;}
.project_home_item img {width: auto !important; height: 207px; max-width: 100%; margin: 10px auto 0;}

.project_home_item .project_card_name {font: 20px 'RobotoB', Tahoma; color: #222222; margin-bottom: 10px;}
.project_home_item .project_desc {font: 14px 'RobotoL', Tahoma; color: #222; margin-bottom: 10px; min-height: 57px;}
.project_home_item ul li {font: 14px 'RobotoB', Tahoma; color: #222222; margin-bottom: 10px; padding-left: 30px; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; background-repeat: no-repeat; background-position: left center; }

.project_home_item ul {margin-bottom: 20px;}
.project_home_item a.prog_link {display: block; width: 100%; background: #282828; color: #fff; text-align: center; font: 14px 'RobotoB', Tahoma; padding: 13px 5px; text-transform: none; transition-duration: 0.3s;} 
.project_home_item a.prog_link:hover {background: #8b459a;}
.project_home_item a.prog_link.active {background: rgba(150, 70, 149, 1);}
.project_home_item {margin-bottom: 20px;}

@media only screen and (min-width: 993px){
	.proj_main_container {width: 90%;}
}

@media(max-width: 993px){
	.project_home_item img {width: 100% !important; height: auto; max-height: 400px;}
	.proj_main_container {width: 60%;}

	.projects_title {margin-top: 80px;}
	.section_name_small::before {top: -140px;}
	.home_projects .details {padding-top: 65px;}
	.projects_wrapper {padding-top: 25px;}
}

@media(max-width: 600px){
	.project_home_item img {width: 100% !important; height: auto; max-height: 400px;}
	.proj_main_container {width: 90%;}
}

@media(max-height: 920px) and (min-width: 993px){
	.projects_wrapper {padding-top: 15px; margin-bottom: 0;}
	.card .card-content {padding: 15px;}
	.project_home_item a.prog_link {padding: 10px 5px;}
	.home_projects .details {line-height: 20px;}
	.project_home_item {margin-bottom: 0;}
}

@media(max-height: 800px) and (min-width: 993px){
	.project_home_item img {height: 175px;}
	.project_home_item ul li {margin-bottom: 5px;}
	.project_home_item ul {margin-bottom: 10px;}
	.card .card-content {padding: 10px 15px;}
}

@media(max-height: 715px) and (min-width: 993px){
	.projects_title {margin-bottom: 5px;}
	.section_name_small::before {height: 300px;}
	.projects_title {margin-top: 90px;}
	.projects_wrapper {padding-top: 5px;}
}


footer {height: 185px; background: #575656;}
#home_footer {padding: 0; height: 185px;}
footer img {max-width: 211px !important; width: 100%; height: auto; max-height: 65px; margin-top: 63px;}
footer .container {width: 90%;}
.footer_nav {display: inline-block;}
.footer_nav_wrapper {text-align: right; padding-top: 50px !important;}
.footer_nav li a {color: #fff; font: 14px 'RobotoL', Tahoma;}
.footer_nav li {margin-left: 30px; display: inline-block;}
.footer_nav li:hover a {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite;}
.footer_nav li.active a {text-decoration: underline;}

.copyright {font: 11px 'RobotoL', Tahoma; color: #8b8b8b; display: block !important; width: 100%; text-align: left; padding-top: 13px;}
.dev {display: block !important; width: 100%; text-align: left; padding-top: 13px;}
.dev a {font: 11px 'RobotoL', Tahoma !important; color: #8b8b8b !important;}
.dev a:hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 2s infinite;}

@media(max-width: 993px){
	.footer_nav li {margin-left: 16px;}
	.footer_nav li:first-child {margin-left: 0;}
	.copyright, .dev {margin-left: 0 !important;}
}

@media(max-width: 750px){
	.footer_nav_wrapper, .footer_logo_wrapper {width: 100% !important; text-align: center;} 
	footer img {margin-top: 15px;}
	.footer_nav_wrapper {padding-top: 15px !important; text-align: center !important;}
	.copyright {padding-top: 7px !important; text-align: center !important;}
	.dev {padding-top: 0 !important; text-align: center !important;}
}

@media(max-width: 550px){
	.footer_nav li {display: block; margin-left: 0 !important; margin-bottom: 10px; text-align: center !important;}
	footer {height: 365px;}
	footer img {margin-top: 40px;}
}

@media(max-width: 600px){
	.mob_menu_btn {right: 32px;}
	.mob_recall_btn {right: 80px;}
}



/* project card */

.project_card {background-position: left 115px; background-repeat: no-repeat; width: 85%; background-size: 100% 80%; -webkit-background-size: 100% 80%; -moz-background-size: 100% 80%; -o-background-size: 100% 80%; -ms-background-size: 100% 80%; padding-top: 115px;}
.project_card .container {float: right;}

.project_card .project_description {background: #fff; float: right; margin-top: 65px; padding-left: 80px; padding-top: 60px; padding-right: 80px; padding-bottom: 60px; position: relative; border: 1px solid #eee; border-right: 0; margin-right: -80px;}


.projects header {background: #fff}
.projects header li a {color: #575656;}


.back_link a {font: 16px 'RobotoR', Tahoma; color: #676666; padding-left: 75px; background: url('../img/link_line.png') left center no-repeat;}

.project_card .project_name {font: 55px 'RobotoBL', Tahoma; color: #565656; margin-bottom: 15px;}
.project_card .proj_sep {background: #565656; height: 4px; width: 50%; float: left; margin-left: -20px; margin-bottom: 25px;}
.project_card .sub_title {font: 30px 'RobotoB', Tahoma; color: #565656; margin-bottom: 25px;}

.project_card .features {margin-bottom: 25px;}
.project_card .features li {font: 16px 'RobotoM', Tahoma; color: #565656; margin-bottom: 15px; padding-left: 30px; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; background-repeat: no-repeat; background-position: left center; }

.project_card .short_info {font: 16px 'RobotoR', Tahoma; color: #676666; border-bottom: 1px solid #ccc; padding-bottom: 20px; margin-bottom: 20px;}
.project_card .short_info p {margin-bottom: 20px;  line-height: 23px;}

.project_card .footer_desc .author {float: left; font: 14px 'RobotoR', Tahoma; color: #8e8e8e; margin-right: 10px;}

.project_card .footer_desc .name {float: left; font: 14px 'RobotoR', Tahoma; color: #222222; margin-right: 10px;}

.project_card .footer_desc .date {float: right; font: 14px 'RobotoR', Tahoma; color: #999999; margin-right: 10px;}


.project_item_wrapper .details {padding-top: 40px; padding-bottom: 40px;}
.project_item_wrapper .detaild_caption {font: 30px 'RobotoB', Tahoma; color: #565656; margin-bottom: 20px;}
.project_item_wrapper .content_target p {margin-bottom: 20px;}
.project_item_wrapper .content_target img {margin: 10px 30px 10px 0px;}

.content_target h1, .content_target h2, .content_target h3, .content_target h4 {font-family: 'RobotoB', Tahoma;}

.project_item_wrapper .content_target li {background: url('../img/li_bg.png') left center no-repeat; padding-left: 20px; font: 16px 'RobotoR', Tahoma; color: #676666; display: grid; margin-bottom: 15px;}
.project_item_wrapper .content_target ul {margin-bottom: 25px;}

#project_map {height: 510px;}

@media(max-width: 1450px){
  .project_card .container {width: 90%;}
  .project_card {background-size: auto auto; -webkit-background-size: auto auto; -moz-background-size: auto auto; -o-background-size: auto auto; -ms-background-size: auto auto;}
}
@media(max-width: 1200px){
  .project_card .container {width: 100%;}
}
@media(max-width: 993px){
  .project_card .project_name {font-size: 40px; margin-bottom: 10px;}
  .project_card .sub_title {font-size: 25px;}
  .project_card .proj_sep {margin-bottom: 10px;}
  .project_card .sub_title {margin-bottom: 15px;}
  .project_card .features li {margin-bottom: 10px;}
  .project_card .features {margin-bottom: 15px;}
  .project_card .short_info p {margin-bottom: 15px;}
  .project_item_wrapper .content_target p {margin-bottom: 15px;}

  #project_map {height: 400px;}
}

@media(max-width: 600px){
  .project_card .project_name {line-height: 40px;}
  .project_card .project_description {padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; margin-right: 0;}
  .project_item_wrapper .content_target li {margin-bottom: 10px;}
  .project_card .footer_desc .date {float: left; clear: both;}
  .project_card .proj_sep  {margin-left: 0;}

  #project_map {height: 300px;}
  .project_card {width: 100%;}
  .project_item_wrapper .content_target img  {margin-right: 10px; width: 100% !important; float: none;}
}

.contacts_wrapper {background: #fff url('../img/contscts_image.png') left top no-repeat; padding-top: 115px; padding-bottom: 50px;}
.constacts_list {margin-bottom: 60px;}
.constacts_list span {display: block;}

.contacts header {background: #fff}
.contacts header li a {color: #575656;}

.contacts_header {font: 46px 'RobotoBL', Tahoma; color: #565656; margin-bottom: 15px;}
.cont_sep {width: 40%; background: #565656; height: 4px; margin-left: -20px; margin-bottom: 40px;}
.right_contacts_part {padding-top: 49px;}
.constacts_list .address {font: 22px 'RobotoBL', Tahoma; color: #676666; background: url('../img/pin.png') left 5px no-repeat; padding-left: 40px; margin-bottom: 20px;}
.constacts_list .phones span {font: 18px 'RobotoBL', Tahoma; color: #676666;}
.constacts_list .phones {background: url('../img/phone.png') left 5px no-repeat; padding-left: 40px; margin-bottom: 20px;}
.constacts_list .email a {font: 18px 'RobotoBL', Tahoma; color: #676666;}
.constacts_list .email {background: url('../img/cont_loc.png') left 5px no-repeat; padding-left: 40px; margin-bottom: 20px;}

.volterra_form input {border: 2px solid #676666 !important; font: 14px 'RobotoR', Tahoma; color: #676666; padding-left: 20px !important; width: calc(100% - 24px) !important; margin-bottom: 0 !important;}
.volterra_form textarea {border: 2px solid #676666 !important; font: 14px 'RobotoR', Tahoma; color: #676666; padding-left: 20px !important; min-height: 95px; margin-bottom: 0 !important;}
.volterra_form .input-field {padding-left: 0 !important; margin-bottom: 25px; margin-top: 0;}

.volterra_form .input-field.col label {left: 20px !important;}
.volterra_form .input-field.col label.active {top: -5px !important; color: #676666 !important;}

.volterra_form input:focus {border-color: #676666 !important; box-shadow: 0 0px 0 0 #676666 !important;}
.volterra_form textarea:focus {border-color: #676666 !important; box-shadow: 0 0px 0 0 #676666 !important;}

.volterra_form a.prog_link {display: block; width: 100%; background: #676666; color: #fff; text-align: center; font: 14px 'RobotoB', Tahoma; padding: 13px 5px; text-transform: none; transition-duration: 0.3s;} 
.volterra_form a.prog_link.active {background: rgba(150, 70, 149, 1);}

.c_first {position: relative;}

.contact_lines {position: absolute; left: 0; bottom: 0; z-index: 20;}

#contacts_map {height: 510px;}

@media(max-width: 1570px){
  .contacts_wrapper {background-position: -200px 0;}
}

@media(max-width: 1180px){
  .contacts_wrapper {background-position: -250px 0;}
}

@media(max-width: 1100px){
  .contacts_wrapper {background-position: -300px 0;}
}

@media(max-width: 993px){
  .contacts_wrapper {background-position: -400px 0; padding-top: 90px;}
  .contacts_header {font-size: 40px; line-height: 40px;}
  .cont_sep {margin-bottom: 20px;}
  .constacts_list .address {font-size: 20px; margin-bottom: 15px;}
  .constacts_list .phones span {font: 16px 'RobotoBL', Tahoma;}
  .constacts_list .phones {margin-bottom: 15px;}
  .constacts_list .email {margin-bottom: 15px;}
  .constacts_list .email a {font-size: 16px;}
  .constacts_list {margin-bottom: 40px;}
  #contacts_map {height: 400px;}
  .invest_relations {padding-bottom: 50px;}
}

@media(max-width: 780px){
  .contacts_wrapper {background-position: -400px -100px;}
  .contact_lines {display: none;}
}

@media(max-width: 650px){
  .contacts_wrapper {background-position: -400px -200px;}
}
@media(max-width: 600px){
  .contacts_wrapper {background-position: -400px -200px;}
  #contacts_map {height: 300px;}
  .contacts_header {text-align: right;}
  .constacts_list * {text-align: right;}
  .constacts_list li {background: none !important;}
  .cont_sep {float: right; clear: both;}
  .contacts_wrapper {padding-top: 190px;}
}

@media(max-width: 480px){
  .contacts_wrapper {background-position: -400px -300px;}
}

@media(max-width: 450px){
  .contacts_wrapper {background: none !important; padding-top: 100px;}
  .right_contacts_part {width: 100% !important; left: 0 !important;}
}

.invest_relations {background: url('../img/services_bg.jpg') right top no-repeat; padding-top: 180px; padding-bottom: 200px;}

.invest_header {font: 46px 'RobotoBL', Tahoma; color: #565656; margin-bottom: 15px;}

.invest-relations header {background: #fff}
.invest-relations header li a {color: #575656;}


.i_first {position: relative;}

.ir_lines {position: absolute; left: 0; bottom: 0; z-index: 20;}

.ir_desc {font: 18px 'RobotoB', Tahoma; color: #676666; margin-bottom: 30px;}

.ir_response {font: 18px 'RobotoL', Tahoma; color: #676666; margin-bottom: 30px; text-align: center;}

@media(max-width: 993px){
  .ir_lines {display: none;}
  .invest_relations {background-size: 40%; -webkit-background-size: 40%; -moz-background-size: 40%; -o-background-size: 40%; -ms-background-size: 40%;}
  .invest_header {font-size: 40px; line-height: 40px;}

}

@media(max-width: 600px){
 
  .invest_relations {background-size: 40%; -webkit-background-size: 40%; -moz-background-size: 40%; -o-background-size: 40%; -ms-background-size: 40%; background-position: right -50px;}
  .invest_relations .cont_sep {float: left; clear: both;}

}


.recall_modal {padding-left: 243px; background: #fff url('../img/modal_bg.jpg') left top no-repeat; position: relative; padding-top: 80px; max-width: 770px; width: 100%; top: 10%; left: 50%;
    margin-left: -385px; position: absolute; padding-right: 125px; padding-bottom: 60px;}
.close_recall {width: 67px; height: 67px; position: absolute; top: 0; right: 0; background: #676666 url('../img/close.png') center no-repeat; z-index: 20; cursor: pointer; transition-duration: 0.3s;}
.close_recall:hover {background: #954695 url('../img/close.png') center no-repeat;}

.modal_header {font: 46px 'RobotoBL', Tahoma; color: #565656; margin-bottom: 15px;}
.modal_sub_title {background: url('../img/link_line.png') left center no-repeat; padding-left: 70px; font: 14px 'RobotoR', Tahoma; color: #565656; margin-left: 85px;}

.remodal-overlay {background: rgba(0,0,0,0.5);}

@media(max-width: 1200px){
  .recall_modal {padding-left: 200px; padding-right: 70px;}
}

@media(max-width: 993px){
  .recall_modal {width: 95%; left: 2.5%; margin-left: 0; padding-bottom: 20px;}
}

@media(max-width: 600px){
  .recall_modal {padding-left: 30px; padding-right: 30px; background: #fff none;}
}

.dev_l {font: 11px 'RobotoL', Tahoma; color: #8b8b8b !important;}
.dev_l:hover {color: #8b8b8b; opacity: 1;}

.project_stages_head {padding-top: 50px;}
.project_stages_head .tabs li a {color: #565656 !important; font: 26px 'RobotoB', Tahoma; text-transform: none;}
.project_stages_head .tabs li.disabled a {opacity: 0.7;;}
.project_stages_head .tabs .indicator {background-color: #565656; height: 4px;}
.project_stages_head .tabs li a:focus {background-color: #fff !important;}
.project_stages_head .tabs li a:active {background-color: #fff !important;}

.stages_tabs_head_row {margin-bottom: 0;}
.project_stages_body {background: #f9f9f9; padding-top: 43px; padding-bottom: 30px;}
.stage_header {font: 22px 'RobotoB', Tahoma; color: #676666; margin-bottom: 20px;}
.stage_desc {font: 16px 'RobotoR', Tahoma; color: #676666; line-height: 25px; padding-left: 0 !important;}
.protocol_link {padding: 10px; background: #c59fc9; text-transform: uppercase; font: 16px 'RobotoB', Tahoma; color: #f9f9f9; transition-duration: 0.3s; text-decoration: none;}
.protocol_link:hover {background: #954695;}
.inner_tab_icon {margin: 0 auto;}
.project_stages_body .inner {padding-top: 35px; margin-bottom: 30px;}
.project_stages_body .inner .tabs {height: 78px;}
.project_stages_body .inner .tab {height: 78px;}

.project_stages_body .inner .tab a {box-shadow: 0 0 1px 2px #eee inset;}
.project_stages_body .inner .tab a:focus {background-color: #fff !important; box-shadow: 0 0 1px 2px #eee inset;}
.project_stages_body .inner .tab a:active {background-color: #fff !important; box-shadow: 0 0 1px 2px #eee inset;}
.project_stages_body .inner .indicator {display: none;}
.project_stages_body .inner .tab a.active {background: #999999 !important; box-shadow: none;} 


.project_stages_body .inner .tab .photo {background: url('../img/tab_ico1.png') center bottom no-repeat; width: 32px; height: 32px; margin-top: 24px;}
.project_stages_body .inner .tab .active .photo {background-position: center top;}

.project_stages_body .inner .tab .map {background: url('../img/tab_ico2.png') center bottom no-repeat; width: 37px; height: 39px; margin-top: 20px;}
.project_stages_body .inner .tab .active .map {background-position: center top;}

.project_stages_body .inner .tab .video {background: url('../img/tab_ico3.png') center bottom no-repeat; width: 42px; height: 33px; margin-top: 23px;}
.project_stages_body .inner .tab .active .video {background-position: center top;}

.project_stages_body .inner .tab .panorama {background: url('../img/tab_ico4.png') center bottom no-repeat; width: 69px; height: 31px; margin-top: 26px;}
.project_stages_body .inner .tab .active .panorama {background-position: center top;}

.project_stages_body .inner .stage_inner_tab {position: relative;}
.project_stages_body .inner .stage_inner_tab .owl-prev {position: absolute; width: 100px; height: 100px; background: rgba(0,0,0,0.6); color: #fff; font: 16px 'RobotoR', Tahoma; text-align: center; left: 0; top: 50%; margin-top: -50px; cursor: pointer; transition-duration: 0.3s;}
.project_stages_body .inner .stage_inner_tab .owl-next {position: absolute; width: 100px; height: 100px; background: rgba(0,0,0,0.6); color: #fff; font: 16px 'RobotoR', Tahoma; text-align: center; right: 0; top: 50%; margin-top: -50px; cursor: pointer; transition-duration: 0.3s;}
.project_stages_body .inner .stage_inner_tab .owl-next:hover, .project_stages_body .inner .stage_inner_tab .owl-prev:hover {background: rgba(0, 0, 0, 0.8)}
.stage_inner_tab iframe, .stage_inner_tab embed {width: 100%; height: 510px;}

.project_stages_body .stage_docs {padding: 40px 0;}

.project_stages_body .stage_docs .owl-item {padding: 0px;}
.project_stages_body .stage_docs .owl-item a {position: relative; display: block; text-align: center; margin: 0 5px;}
.project_stages_body .stage_docs .owl-item a .hover {transition-duration: 0.3s; opacity: 0; background: rgba(0,0,0,0.4) url('../img/zoom_hover.png') center no-repeat; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}
.project_stages_body .stage_docs .owl-item a:hover .hover {opacity: 1;}
.project_stages_body .stage_docs .owl-item a img {max-height: 240px; height: auto; width: auto; max-width: 100%; display: inline-block;}

.stage_comments {border-top: 1px solid #000; padding-top: 45px;}
.stage_comments .comment_item {background: #f9f9f9; box-shadow: none; padding-left: 0; padding-bottom: 0;}
.stage_comments .comment_item .name {font: 18px 'RobotoB', Tahoma; color: #676666; margin-bottom: 10px;}
.stage_comments .comment_item .comment {font: 14px 'RobotoR', Tahoma; color: #676666; margin-bottom: 20px; line-height: 20px;}
.stage_comments .comment_item .date {font: 12px 'RobotoR', Tahoma; color: #999999; margin-bottom: 20px;}
.stage_comments .comment_item .border {background: #dfdfdf; height: 1px;}

.stage_comments .caption {font: 30px 'RobotoB', Tahoma; color: #565656; float: left;}
.stage_comments .caption sup {font: 12px 'RobotoB', Tahoma; color: #fff; padding: 7px 10px; background: #c59fc9; border-radius: 50%; position: relative; top: -15px;}
.stage_comments .leave_comment {font: 16px 'RobotoB', Tahoma; color: #f9f9f9; padding: 10px 20px; background: #c59fc9; float: right; transition-duration: 0.3s;}
.stage_comments .leave_comment:hover {background: #954695;}

.stage_comments .comment_item:last-child .border {display: none;}

.same_projects_wrapper {padding: 70px 0;}


.project_item .card-image {width: 100%;}
.project_item img {width: auto !important; height: 220px; max-width: 100%; margin: 10px auto 0;}

.project_item .project_card_name {font: 20px 'RobotoB', Tahoma; color: #222222; margin-bottom: 10px;}
.project_item .project_desc {font: 14px 'RobotoL', Tahoma; color: #222; margin-bottom: 10px; min-height: 57px;}
.project_item ul li {font: 14px 'RobotoB', Tahoma; color: #222222; margin-bottom: 10px; padding-left: 30px; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; background-repeat: no-repeat; background-position: left center; }

.project_item ul {margin-bottom: 20px;}
.project_item a.prog_link {display: block; width: 100%; background: #282828; color: #fff; text-align: center; font: 14px 'RobotoB', Tahoma; padding: 13px 5px; text-transform: none; transition-duration: 0.3s;} 
.project_item a.prog_link:hover {background: #8b459a;}
.project_item a.prog_link.active {background: rgba(150, 70, 149, 1);}
.project_item {margin-bottom: 20px;}

.project_item .card {margin-left: 11px; margin-right: 11px; }

.same_projects_wrapper .caption {font: 30px 'RobotoB', Tahoma; color: #565656;  margin-bottom: 30px;}